<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Assignments Page </title>
    <head>
    <body>
    <h3> A brief overview of the most interesting assignments of ENGI 1006: </h3>
    <ul>
    <li> <b> Homework 4: </b> <br>
    Reading the given skeleton code and implementing the missing 
    parts according to the error messages helped me a lot when figuring out object
    oriented programming. Overall going through each of the classes and adding the
    necessary methods made the concept of object oriented programming easier for me.
    <li> <b> Midterm: </b><br>
    This assignment without skeleton code helped me to understand writing code from
    scratch. Although I struggled with the shades_of_gray and horizontal_flip methods,
    figuring out the errors in the output file and getting the methods to work properly
    taught me a lot. I was pleasantly surprised to work with images in an intro course!
    <li><b>Homework 5: </b> <br>
    I liked building different parts of a bigger project in different assignments. As a
    prospective computer science major, it was interesting to learn more about machine 
    learning in this class. Homework 5 helped me understand the use of different libraries 
    such as scikit-learn and seaborn and revise pandas. 
    </ul>
    </body>
    
</html>

