<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Classes Page </title>
    <head>
    <body>
    <h3> Spring 2020 Classes </h3>
    <ul>
    <li> Intro to Computer Science and Programming in Java
    <li> Intro to Computing for Engineering and Applied Sciences
    <li> The Art of Engineering
    <li> Intro to East Asian Civilization: Japan
    <li> Intro to Electricity, Magnetism and Optics
    </ul>
    <p> My favorite class this semester was <b> Intro to Computing 
    Engineering and Applied Sciences </b> because I always wanted to learn Python
    and I enjoyed the programming projects. </p>
    
    </body>
</html>

