<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Burcu Cetin's Home Page</title>
    <head>
    <body>
    <h2 align=center> Burcu Cetin </h2>
    <p> My name is Burcu Cetin. <br>
        I am a freshman intending to major in Computer Science </p>
        <img src="/static/burcu2020.jpg"  width="370" height="475">
    <p> Click <a href="/classes">here</a> to see the classes I took for Spring 2020. <br>
        Click <a href="/assignments">here</a> to see an overview of my favorite
        assignments of ENGI 1006.<br>
        Check out <a href="https://openai.com/">Open AI</a>'s cool projects! 
    </p>
  
    </body>
</html>

